{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
%{src_dirs, ["src", "test"]}.

{excl_archive_filters, [".*"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
	 {'erlsom', ".*", {git, "git://github.com/willemdj/erlsom.git", "master"}},
	 {'detergent', ".*", {git, "git://github.com/devinus/detergent.git", "master"}},
	 {'log4erl', ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
	 {'erlzmq', ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}},
	 {'webmachine', ".*", {git, "git://github.com/basho/webmachine", "HEAD"}}
       ]}.    
